#container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    input{
        width: 300px;
        background-color: #9A208C;
        height: 40px;
        border: none;
        border-radius: 10px;
        &::placeholder{
            color: #fff;
            padding-left: 5px;
        }

    }
    button{
        width: 100px;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #9A208C;
        color: #fff;
        border: none;
        outline: none;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;

    }
    ul{
        li{
            background-color: aqua;
        }
    }
}